@model Book
@{
    ViewData["Title"] = "BookDetails";
}

<div class="rsvpform"> 
<h1>@Model.name</h1>

Author(s): @foreach(string author in Model.authors)
{
    <li>@author</li>
}

Pages: @Model.numberOfPages
<br />
Published by: @Model.publisher on @Model.released.ToShortDateString()

</div>
